.mainContent {
  padding: 40px;
  padding-top: 30px;
  padding-left: 40px;
}

.content {
  padding: 40px;
}

.centered {
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
